.category-section {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.casual {
    background: url('../imagens/products/casual.jpg') no-repeat center;
    background-size: cover;
}

.esporte {
    background: url('../imagens/products/esporte.jpg') no-repeat center;
    background-size: cover;
}

.moderno {
    background: url('../imagens/products/moderno.jpg') no-repeat center;
    background-size: cover;
}
.futurista {
    background: url('../imagens/products/futurista.jpg') no-repeat center;
    background-size: cover;
}

@media (max-width: 500px) {
    .category-card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "top1 top1"
        "botomL botomL"
        "midL botomR"
        "midL midR"
        "top2 top2";
        max-width: 100%;
        gap: 0.625rem;
    }

    .top1 {
        min-height: 500px;
    }

    .botomL, .top2 {
        min-height: 190px;
    }

    .midL {
        min-height: 370px;
    }

    .botomR .midR{
        min-height: 250px;
    }
}