body{
    font-family: var(--fonte-principal);
    color: #333333;
}

main{
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.header{
    max-width: 1360px;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30%);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
    background-color: #ffffff;
}

.logo img{
    height: 48px;
}

.center-nav ul{
    display: flex;
    gap: 2.5rem;
}

.center-nav a, .right-nav a{
    font-size: 1.25rem;
    color: #333333;
}

.center-nav a:hover, .right-nav a:hover{
    color: #7c3aed;
}

.right-nav ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.right-nav img{
    height: 20px;
}
.right-nav a:hover img{
    opacity: 0.7;
}